extends base.pug


block scripts
  scripts(src="/static/index.js")

block style
   style 
     include ../static/style.css
     include ../static/aboutstyle.css

block content
  
  section#owner
   h1 About Owner

   div.card-box
     div.card-img
      img(src="/static/Screenshot_2020-11-28-11-42-45-61.jpg")
     div.card-content
       p Hey! this is shivam sharma here. I am the owner and founder of this shop.we opened this shop before 20 years by my father Krishna kumar sharma.We believe that ,like humans,these animals deserve love and home .So, our moto is giving them a good home who take care of them like his/her family member.pets are part of our life they heal us from depression.so,adpot one pets and see the difference in your life.Thank You!
  section#breeds
   h2 About Shop and Pets
   p1 We have three animals.dogs,cats and birds.Among them they are classified into different breeds.Dogs are classified as -German Shepard, Bulldog,Beagle ,Siberian husky,Golden retriver and Pomeranian.                    Cats are classified in- Persian cat,Bengal cat,Mainecoon,Ragdoll,Munchkin cat,Siamese cat,and Birman.          Birds are classifed in-African Grey Parrot, Amazon parrot,Canary,Dove,Finch and Humming Bird.

  section#classification
   h3 Classification of Dogs
   div.card 
       
       div.card-box
         div.card-img
            img(src="/static/dog 2.jpg") 
       h4 German Shepard   
   div.card 
       
       div.card-box
         div.card-img
            img(src="/static/dog 4.jpg") 
       h4 Bull Dog   
   div.card 
       
       div.card-box
         div.card-img
            img(src="/static/dog 8.jpg") 
       h4 Beagle 
   div.card 
       
       div.card-box
         div.card-img
            img(src="/static/dog.jpg") 
       h4 Golden Retriver   
   div.card 
       
       div.card-box
         div.card-img
            img(src="/static/dog 6.jpg") 
       h4 Siberian Husky  
   div.card 
       
       div.card-box
         div.card-img
            img(src="/static/dog 9.jpg") 
       h4 Pomeranian      

   
   h3 Classification of Cats
   div.card 
       
       div.card-box
         div.card-img
            img(src="/static/cat 1.jpg") 
       h4 Persian Cat   
   div.card 
       
       div.card-box
         div.card-img
            img(src="/static/cat 2.jpg") 
       h4 Bengal Cat   
   div.card 
       
       div.card-box
         div.card-img
            img(src="/static/cat 3.jpg") 
       h4 Mainecoon
   div.card 
       
       div.card-box
         div.card-img
            img(src="/static/cat 4.jpg") 
       h4 RagDoll   
   div.card 
       
       div.card-box
         div.card-img
            img(src="/static/siamese.jpg") 
       h4 Siamese Cat   
   div.card 
       
       div.card-box
         div.card-img
            img(src="/static/birman.jpg") 
       h4 Birman           
   h3 Classification of Birds
   div.card 
       
       div.card-box
         div.card-img
            img(src="/static/bird1.jpg") 
       h4 African Grey Parrot   
   div.card 
       
       div.card-box
         div.card-img
            img(src="/static/bird 2.jpg") 
       h4 Amazon Parrot   
   div.card 
       
       div.card-box
         div.card-img
            img(src="/static/bird 3.jpg") 
       h4 Cannary
   div.card 
       
       div.card-box
         div.card-img
            img(src="/static/bird 4.jpg") 
       h4 Dove       
   div.card 
       
       div.card-box
         div.card-img
            img(src="/static/bird 5.jpg") 
       h4 Finch
   div.card 
       
       div.card-box
         div.card-img
            img(src="/static/bird 6.jpg") 
       h4 Humming Bird    