
#booking{
    background-color: black;
    color: white;
    height: 100%;
}
#booking h1{
    text-align: center;
    color:rgb(136, 150, 76);
    font-size: 2.5rem;
    font-family: 'Lobster', cursive;
    
}
h2{
    text-align: center;
    color: rgb(136, 150, 76);
    font-size: 2.2rem;
    font-family: 'Lobster', cursive;

}
#sponsors1{
    height: 280px;
    max-width: 1500px;
    margin: 27px auto;
}
.spimage1{
    height: 66%;
    margin:49px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    
}


.mybooking{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.myinput1{
    font-size: 1.3rem;
    width: 50%;
    padding: 18px;
    margin: 8px;
    border: 2px solid rgb(105, 72, 72);
    border-radius: 12px;



}
#myinput{
    font-size: 1.3rem;
    width: 50%;
    padding: 18px;
    margin: 8px;
    border: 2px solid rgb(105, 72, 72);
    border-radius: 12px;

}
.form spimage2{
    height:33%;
    margin:49px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    
}
.btn{
    padding: 13px;
    width: 19%;
    margin-top: 9px;
    border: solid rgb(95, 59, 59);
    border-radius: 13px;
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


